.idea/
.makefileLogs/install_log.txt
.makefileLogs/lint_log.txt
.makefileLogs/reqs_log.txt
.makefileLogs/test_log.txt
.venv/
requirements_dev.txt
requirements_test.txt
__pycache__/
tests/__pycache__/
tests/functional/__pycache__/
tests/unit/__pycache__/